<div class="homeThird scroll-area">
    <video src="../../../../assets/mp4/Bogota Short.mp4" muted loop autoplay infinite></video>
  <div class="homeThird d-flex align-items-center">
    <div class="thirdText d-flex flex-column mx-auto" data-aos="zoom-in">
        <h3 class="text-white">Achieve Financial Success</h3>
        <p class="text-white mt-2">With BGT you have access to insights and researchs of big finance industry players. <br>
            Markets news & Financial advice in one place. <br><br>
            <a class="text-decoration-none text-white" href="#">Documents & Articles <i class="fa-solid fa-chevron-right"></i></a>
        </p>
    </div>
  </div>
</div>
