.scroll-container{
  scroll-snap-type: y mandatory;
}

.scroll-area{
  scroll-snap-align: start;
}



.homeSecond{
  object-fit: cover;
  height: 89vh;
}

.homeSecondImg{
  width: 89vh;
  object-fit: cover;
}
