<div class="homeSecond d-flex justify-content-center align-items-center gap-5 scroll-area" style="height: 100vh;">
  <div data-aos="fade-right">
    <h3>Live Insights For Better <br> Decision Making</h3>
    <p>The right financial tools to keep up with worldwide markets.</p>
    <a class="text-decoration-none" href="#">Explore more <i class="fa-solid fa-chevron-right"></i></a>
  </div>
  <img class="homeSecondImg" data-aos="fade-left" src="https://www.sura-am.com/sites/default/files/2019-07/sura-asset-management-proposito.svg" alt="">
</div>
