<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid row">
    <div class="col-4">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="d-flex justify-content-center align-items-center me-auto">
          <a class="px-3 text-decoration-none text-white fw-bold navtext" routerLink="/how-it-works">How It Works</a>
          <span class="d-none"><i class="mx-3 fa-solid fa-magnifying-glass"></i></span>
          <a href="#" class="text-decoration-none d-none d-flex justify-content-center align-items-center mx-4 navtext">
            <i class="fa-solid fa-globe text-black"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="d-flex justify-content-center align-items-center">
        <a class="navbar-brand" href="#">
          <img src="../../../../assets/img/bank.png" alt="Logo" class="d-inline-block align-text-top logostyle">
        </a>
      </div>
    </div>
    <div class="col-4">
      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-outline-light btn-sm rounded-0" (click)="auth.logOut()">Log Out</button>
      </div>
    </div>
  </div>
</nav>
