<app-navbar-hiw></app-navbar-hiw>
<div class="row">
  <div class="col-2 d-flex justify-content-center align-items-center nextprev">
    <button class="boton btn" routerLink="/steptwo"><i class="fa-solid fa-chevron-left iconstyle"></i></button>
  </div>
  <div class="cuadro col-8 d-flex justify-content-center align-items-center">
    <div class=" border-dark d-flex justify-content-between justify-content-center align-items-center">
      <img class="financeimage" src="../../../../assets/img/finance1.gif" alt="">
      <div class="d-flex flex-column justify-content-center align-items-center text-center textotres">
        <h4>Step Three</h4>
        <p>Our finance team will be in charge of managing your deposit</p>
        <h6>We will cover the interest of your credit card spending</h6><br>
        <p class="textouno">The extra profit will be deposited in your bank account. Just like a Saving account, but better.</p>
      </div>
    </div>
  </div>
  <div class="col-2 d-flex justify-content-center align-items-center nextprev">
    <button class="boton btn" routerLink="/stepfour"><i class="fa-solid fa-chevron-right iconstyle"></i></button>
  </div>
</div>
