

.nextprev {
  height: 89vh;
}

.boton {
  width: 50px;
  height: 100px;
}

.cuadro {
  width: 822px;
}

.financeimage {
  height: 100%;
  width: 70%;
  padding-right: 10%;
  margin-left: 0;
}

.iconstyle {
  font-size: 40px;
}

.textouno {
  font-size: 12px;
}

.textotres {
  width: 300px;
}
