.nextprev {
  height: 89vh;
}

.boton {
  width: 50px;
  height: 100px;
}

.cuadro {
  height: 80vh;
}

.depositvideo {
  height: 70%;
  position: cover;
}

.iconstyle {
  font-size: 40px;
}

.textstyle {
  width: 355px;
}
