<app-navbar-hiw></app-navbar-hiw>
<div class="row">
  <div class="col-2 d-flex justify-content-center align-items-center nextprev">
    <button class="boton btn" routerLink="/how-it-works"><i class="fa-solid fa-chevron-left iconstyle"></i></button>
  </div>
  <div class="col-8 d-flex justify-content-center align-items-center">
    <div class="cuadro border-dark d-flex justify-content-center align-items-center">
      <img class="depositvideo me-5" src="../../../../assets/img/deposito.gif" alt="">
      <!-- <video class="me-5 depositvideo" src="../../../../assets/mp4/deposito.mp4" autoplay loop muted></video> -->
      <div class="d-flex flex-column justify-content-center align-items-center text-center textstyle">
        <h4>Step Two</h4>
        <p>Once you're accepted, make a deposit. The amount of the deposit will designate your e-card available balance.</p>
        <h6><p class="fw-bold">*0% Interest Rate</p>Join the new credit card lifestyle.</h6>
      </div>


    </div>
  </div>
  <div class="col-2 d-flex justify-content-center align-items-center nextprev">
    <button class="boton btn" routerLink="/stepthree"><i class="fa-solid fa-chevron-right iconstyle"></i></button>
  </div>
</div>
