<div class="homeImg" style="background-image: url(https://www.cepal.org/sites/default/files/styles/1920x1080/public/regionaloffice/images/bogota.jpg?itok=ZVM_inQP);">
  <div class="homeText d-flex flex-column align-items-center justify-content-center">
    <h3 class="text-white">MODERN MANAGEMENT MADE SIMPLE</h3>
    <h5 class="text-white">Take control of your assets in one workspace.</h5>
    <a href="#" class="text-white text-decoration-none">REGISTER <i class="fa-solid fa-chevron-right"></i></a>
  </div>
</div>
<div class="d-flex justify-content-center align-items-center gap-5" style="height: 100vh;">
  <div>
    <h3>Live insights for better <br> decision making</h3>
    <p>The right financial tools to keep up with worldwide markets.</p>
    <a class="text-decoration-none" href="#">Explore more <i class="fa-solid fa-chevron-right"></i></a>
  </div>
  <img class="homeImg2" src="https://www.sura-am.com/sites/default/files/2019-07/sura-asset-management-proposito.svg" alt="">
</div>
