<nav class="stylefooter navbar navbar-expand-lg bg-body-tertiary d-flex flex-column">
  <div class="container-fluid row">
    <a class="navbar-brand col-2 d-flex" href="#">
        <img src="../../../../assets/img/BGT-Logo.png" alt="Logo" width="70" height="50"
          class="d-inline-block align-text-top">
        <p href="#" class="text-dark ms-2 fs-6">Asset <br> Management</p>
      </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="col-7 collapse navbar-collapse ms-3" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex flex-column">
        <li><a class="text-decoration-none text-dark" href="#">Action</a></li>
        <li><a class="text-decoration-none text-dark" href="#">Another action</a></li>
        <li>
          <hr>
        </li>
        <li><a class="text-decoration-none text-dark" href="#">Something else here</a></li>
      </ul>
    </div>
    <div class="col-4"></div>
  </div>
  <div>
    <ul class="d-flex justify-content-between footerlast">
      <li class="">See our Privacy Policy</li>
      <li class="">Learn More About Security</li>
      <li class="">Terms of Use</li>
      <li class="">© 2023 BGT Asset Management. All rights reserved.</li>
    </ul>
  </div>
</nav>
