<nav class="stylefooter navbar navbar-expand-lg bg-body-tertiary d-flex flex-column mt-5">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse row ms-4" id="navbarSupportedContent">
        <a class="text-decoration-none text-dark col-2" href="#"><img class="footerlogostyle" src="../../../assets/img/American-Express-logo.png" alt=""></a>
        <a class="text-decoration-none text-dark col-2" href="#"><img class="footerlogostyle" src="../../../assets/img/applepay.png" alt=""></a>
        <a class="text-decoration-none text-dark col-2" href="#"><img class="footerlogostyle" src="../../../assets/img/Mastercard.png" alt=""></a>
        <a class="text-decoration-none text-dark col-2" href="#"><img class="footerlogostyle" src="../../../assets/img/VISA-Logo.png" alt=""></a>
        <a class="text-decoration-none text-dark col-2" href="#"><img class="footerlogostyle" src="../../../assets/img/2560px-PayPal_logo.svg.png" alt=""></a>
        <a class="text-decoration-none text-dark col-2" href="#"><img class="footerlogostyle" src="../../../assets/img/Alipay_Logo.png" alt=""></a>
    </div>
  </div>
  <div class="me-auto mt-4">
    <ul class="d-flex justify-content-between footerlast">
      <li class="">See our Privacy Policy</li>
      <li class="">Learn More About Security</li>
      <li class="">Terms of Use</li>
      <li class="">© 2023 BANK. All rights reserved.</li>
    </ul>
  </div>
</nav>
