<app-navbar-dashboard></app-navbar-dashboard>
<div class="row">
  <div class="col-4 d-flex flex-column justify-content-center align-items-center">
    <h6>Good Evening Dante...</h6>
    <img class="imgApply ps-4" src="https://i.pinimg.com/originals/f8/b0/a2/f8b0a277e663688f577cf09101d1d1fe.gif"
      alt="">
    <h6 class="text-center">Get your e-card to stop <br> paying interests</h6>
    <button class="btn btn-primary mt-3">Apply Now</button>
  </div>
  <div class="col-8 rightSide d-flex align-items-center">
    <video class="videostyle" src="../../../assets/mp4/appPhone.mp4" autoplay loop muted></video>
    <div class="d-flex flex-column justify-content-center align-items-center">
      <h6 class="text-center">In the meantime you get approved, download the app!</h6>
      <img class="appstoreStyle" src="../../../assets/img/googleplay.png" alt="">
      <img class="appstoreStyle" src="../../../assets/img/appstore.png" alt="">
    </div>
  </div>
</div>
