<app-navbar-hiw></app-navbar-hiw>
<div class="row">
  <div class="col-2 d-flex justify-content-center align-items-center nextprev">
    <button class="boton btn" routerLink="/stepthree"><i class="fa-solid fa-chevron-left iconstyle"></i></button>
  </div>
  <div class="col-8 d-flex justify-content-center align-items-center">
    <div class="cuadro border-dark d-flex justify-content-between justify-content-center align-items-center">
      <img class="registerimage" src="../../../../assets/img/payment.gif" alt="">
      <div class="d-flex flex-column justify-content-center align-items-center text-center">
        <h4>Step Four</h4>
        <p>Register to have access to your personal account.</p>
        <h6>Apply for your new <p class="fw-bold">e-card</p></h6>
        <p class="textouno">Wait between 6 and 12 hours <br> for our team to reach you.</p>
      </div>
    </div>
  </div>
  <div class="col-2 d-flex justify-content-center align-items-center nextprev">
    <button class="boton btn d-none"><i class="fa-solid fa-chevron-right iconstyle"></i></button>
  </div>
</div>
