<div class="firstview">
<app-navbar-home></app-navbar-home>
<div class="homefirst"
  style="background-image: url(https://www.cepal.org/sites/default/files/styles/1920x1080/public/regionaloffice/images/bogota.jpg?itok=ZVM_inQP);">
  <div class="hometext d-flex flex-column align-items-center justify-content-center">
    <div data-aos="zoom-in">
      <h3 class="text-white">MODERN MANAGEMENT MADE SIMPLE</h3>
      <h5 class="text-white">Take control of your assets in one workspace.</h5>
      <a routerLink="/register" class="text-white text-decoration-none fw-bold">Sign Up <i
          class="fa-solid fa-chevron-right"></i></a>
    </div>
  </div>
</div>
</div>
