<div class="homefirst" style="background-image: url(https://www.cepal.org/sites/default/files/styles/1920x1080/public/regionaloffice/images/bogota.jpg?itok=ZVM_inQP);">
  <div class="homeText d-flex flex-column align-items-center justify-content-center">
    <h3 class="text-white">MODERN MANAGEMENT MADE SIMPLE</h3>
    <h5 class="text-white">Take control of your assets in one workspace.</h5>
    <a routerLink="/register" class="text-white text-decoration-none">REGISTER <i class="fa-solid fa-chevron-right"></i></a>
  </div>
</div>
