.homeImg{
  background-size: cover;
  height: 89vh;
}

.homeText{
  height: 89vh;
  background-color: rgb(243,243,243);
}

.signinStyle {
  width: 200px;
}

.loginStyle {
  background-color: rgb(243,243,243);
}

